.modal-field-one{
    width: 100%;
}

.modal-field-two{
    width: 100%;
}







.modal-field-one-container{
    margin-top: 70px;

    width: 100%;
}

.modal-field-two-container{
    width: 100%;
}

