@import url('https://fonts.googleapis.com/css2?family=Amarante&display=swap');

/* header */

.header {
    max-width: 100%;
    padding: 10px 0px 20px;
    /* margin: 0px auto; */
    min-height: 8vh;
    background: #ffffeb;
    margin-left: 5%;
    margin-right: 5%
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

.header .navLink a {
    display: block;
    font-weight: bold;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    transition: color 0.2s ease-in;
    cursor: pointer;
}

.header .navLink a:hover, .header .menu-btn:hover {
    color: #EAB641;
}

.header .logo {
    color: #EAB641;
    display: block;
    float: left;
    font-size: 2em;
    text-decoration: none;
    margin-top: 10px;
    line-height: normal;
    font-family:  "Amarante", Sans-serif;
    margin-left: 15px

}

/* menu */

.header .menu {
    /* font-family: 'Source Code Pro', monospace; */
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
}
.whitepaper{
    font-size: 18px;
}
.header .menu-icon .navicon {
    background: #EAB641;
    font-family: 'Source Code Pro', monospace;
    display: block;
    height: 3px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 20px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: #EAB641;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu {
    max-height: 370px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}
.connect{
    background-color: #fab06f;
    transition: 0.5s;
    border-radius: 10px
}
.connect:hover{
    background-color: black;
    color: #fab06f
}

/* 48em = 768px */

@media (min-width: 48em) {
    .header .navLink {
        float: left;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header .menu {
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

@media (max-width: 960px) and (min-width: 768px) {
    .header .menu {
        max-height: none;
        background-color: #122953;
    }
    .header .navLink a {
        font-size: 15px;
        padding: 10px 10px;
    }
}

.navLinkBtn {
    background-color: #EAB641;
    border: #EAB641 2px solid;
    color: white;
    border-radius: 20px;
    width: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.navLinkBtn:hover {
    border: #EAB641 2px solid;
    background-color: transparent;
    border-radius: 20px;
}

@media (max-width: 600px) {
    .header{
        margin-left: 0%;
        margin-right: 0%
    }
}